@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: 20px auto 10px auto;
}

/* Header Section */

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header li {
    margin-left: 30px;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.material-symbols-outlined {
    font-size: 24px;
    color: #f9faf8;
}

/* Hero Section */

.hero {
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
}

.hero-left {
    width: 450px;
}

.hero-right {

    padding: 0 150px;
    background-color: #6D747D;
    color: white;
    display: flex;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    padding: 10px 32px;
}

/* Info */

.info {
    background-color: #f9faf8;
}

.info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 20px 0;
}

.boxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 100px;
}

.box-group {
    display: flex;
    flex-direction: column;

}

.box-group p {
    width: 150px;
    text-align: center;
}

.box {
    border: 4px solid #3882f6;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}