@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 20px auto 10px auto;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header li {
    margin-left: 30px;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.material-symbols-outlined {
    font-size: 24px;
    color: #f9faf8;
}