/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Section */

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.header li {
    margin-left: 30px;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.material-symbols-outlined {
    font-size: 24px;
    color: #f9faf8;
}

/* Hero Section */

.hero {
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
    padding-bottom: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.hero-left {
    width: 450px;
}

.hero-right {
    background-color: #f9faf8;
    display: flex;
    align-items: center;
    width: 600px;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.hero-button {
    /* background-color: #3882f6; */
    background-color: #DA291C;
    color: #f9faf8;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    padding: 10px 32px;
    cursor: pointer;
}

/* Info */

.info {
    background-color: #f9faf8;
}

.info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px 0;
}

.boxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.box-group {
    display: flex;
    flex-direction: column;

}

.box-group p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.box {
    /* border: 4px solid #3882f6; */
    border: 4px solid #DA291C;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Quote Section */

.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    padding: 80px;
    font-style: italic;
    font-weight: 300;
}

.quote-section .container p {
    margin-bottom: 0;
}

.author {
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: 600;
}

/* Call to action section */

.call-to-action-section {
    background-color: #f9faf8;
    padding: 100px;
    color: white;
}

.call-to-action-box {
    /* background-color: #3882f6; */
    background-color: #DA291C;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}

.call-to-action-box h2,
.call-to-action-box p {
    margin: 0;
}

.call-to-action-box p {
    color: #e5e7eb;
    font-size: 18px;
}

.call-to-action-box button {
    align-self: center;
    font-size: 16px;
    padding: 8px 32px;
    /* background-color: #3882f6; */
    background-color: #DA291C;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 900;
    cursor: pointer;
}

.footer {
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 18px;
}